name: Auto Update Bulletin
on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install requests icalendar pytz

      - name: Run Update Script
        # This updated command ensures we run the FILE, not the folder
        run: |
          SCRIPT_FILE=$(find . -name "update_bulletin.py" -type f -print -quit)
          python "$SCRIPT_FILE"

      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add .
          git commit -m "Automated Bulletin Update" || exit 0
          git push
